In [42]:
import pandas as pd
import numpy as np
from bisect import bisect_left

In [44]:
df = pd.read_csv('./simulator/src/route_data/asc2022/steps/steps_stage1_ckpt1.csv', skiprows=2)

keywords = ['SL ', 'Stop Sign', 'TURN']
stops = df[df.stack().str.contains('|'.join(keywords)).groupby(level=0).any()]

speedlimits = df[['Trip', 'Spd']].dropna(subset='Spd')
speedlimits

      Trip   Spd
0     0.00  20.0
1     0.05  20.0
6     1.00  30.0
8     1.60  35.0
10    3.50  35.0
..     ...   ...
123  97.00  40.0
124  97.40  40.0
126  98.00  30.0
127  98.05  30.0
128  98.25  25.0

[71 rows x 2 columns]

In [65]:
from util import parse_steps
stop_dists, speedlimit = parse_steps(csv='route/asc2022/steps/steps_stage1_ckpt1.csv')

speedlimit(30)

45.0

In [1]:
import pandas as pd

df = pd.read_csv('simulator/logs/368mi_2868W.csv')
df

      target_mph  acceleration  deceleration  try_loop  is_keyboard
0             55             1            -1     False         True
1             55             1            -1     False         True
2             55             1            -1     False         True
3             55             1            -1     False         True
4             55             1            -1     False         True
...          ...           ...           ...       ...          ...
7444          55             1            -1     False         True
7445          55             1            -1     False         True
7446          55             1            -1     False         True
7447          55             1            -1     False         True
7448          55             1            -1     False         True

[7449 rows x 5 columns]

In [10]:
df['target_mph'][len(df)-1]

55